.I{
    grid-area:Info; 
}
.l{
grid-area:liste;
background-color: antiquewhite;
}
.f{
    grid-area:Bild;
}
aside{
    grid-area:zusatz;
}
#haupt{
    grid-area:h;
}
#container{
    display: grid;
    grid-template-areas:
    'Info  Bild  zusatz'
    'liste liste zusatz';
    grid-template-columns: auto auto 25%;   

}
#container2{
    display: grid;
    grid-template-areas:'h zusatz';
    grid-template-columns: auto  25%;
   
}


@media screen and (max-width: 768px) {
  
  
    #container{
        display: grid;
        grid-template-areas:'Info  Bild'
                            'liste liste'
                            'zusatz zusatz';
    }
    #container2{
        display: block;
    }
    
  }
  @media screen and (max-width:480px) {
  
    #container{
    display: grid;
    grid-template-areas:
    'Info '
    'liste'
    'Bild'
    'zusatz';
    grid-template-columns: auto;   
    }
    
}
img { 
    max-width: 25%;
    height: auto;
    clear: both;
    }

    #fluid {
        float:right;
        max-width: 50%;
    }